<header class="c-header c-header-light c-header-fixed c-header-with-subheader">
    <button class="c-header-toggler c-class-toggler d-lg-none mfe-auto" type="button" data-target="#sidebar"
            data-class="c-sidebar-show">
        <i class="fa fa-bars"></i>
    </button>
    <button class="c-header-toggler c-class-toggler mfs-3 d-md-down-none" type="button" data-target="#sidebar"
            data-class="c-sidebar-lg-show">
        <i class="fa fa-bars"></i>
    </button>

    <ul class="c-header-nav ml-auto mr-4">
        <li class="c-header-nav-item dropdown">
            <a class="c-header-nav-link" data-toggle="dropdown" href="#"
               role="button" aria-haspopup="true" aria-expanded="false">
                <h5 class="mt-0">
                    {% if request.session.user %}
                        {{ request.session.user.nickname }}
                    {% else %}
                        Anonymous user
                    {% endif %}
                </h5>
                <div class="c-avatar">
                    <i class="fa fa-user"></i>
                </div>
            </a>
            <div class="dropdown-menu dropdown-menu-right pt-0">
                <div class="dropdown-header bg-light py-2"><strong>Account</strong></div>
                {% if request.session.user %}
                <a class="dropdown-item" href="{% url 'core:logout' %}">
                    <i class="fa fa-external-link-alt"></i> Log out</a>
                {% else %}
                <a class="dropdown-item" href="{% url 'core:auth' %}">
                    <i class="fa fa-key"></i> Log in</a>
                {% endif %}
            </div>
        </li>
    </ul>

</header>